version: "3.7"

services:
  app:
    build: 
    ports:
      - "8080:8080"
    
  mysql:
    image: mysql:latest
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: sonai
    ports:
      - "3306:3306"
    