version: "3.7"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    networks:
      - s-network
    depends_on:
      - mysql
    restart: on-failure
    
  mysql:
    image: mysql:latest
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: sonai
    ports:
      - "3306:3306"
    networks:
      - s-network
    
networks:
  s-network:
    driver: bridge